<app-navbar></app-navbar>

<div class="logo-container">
    <div class="noSmallSizeItem">
      <img  src="../../assets/src/images/logo.jpg" alt="Logo" />
      <img  src="../assets/src/images/logo_federazione_coni.svg" alt="Logo coni" />
    </div>
    <img src="../assets/src/images/banner.jpeg" alt="Logo federkombat-lombardia" />
    <div class="noSmallSizeItem">
      <a href="https://www.instagram.com/federkombat_lombardia/" target="_blank"><img src="../assets/src/images/instagram.png" alt="Instagram" /></a>
      <a href="https://www.facebook.com/people/FederKombat-Lombardia/100063499965759/" target="_blank"><img src="../assets/src/images/fb.png" alt="Facebook" /></a>
    </div>
</div>
