.logo-container {
    height: 150px;
    display: flex;
  }
  
  .logo-container > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
  }
  
  .logo-container > div {
    display: flex;
    align-items: center;
    height: 150px;
  }
  
  .logo-container > div > img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .logo-container > div > a > img {
    margin: 15px;
  }

  //solo smarphone
@media (max-width:570px)  { 
    .noSmallSizeItem {
        display: none!important;
    }

    .logo-container > img {
        width: 100%;
    }
}

  