@import '../../../assets/scss/utils.scss';

section {
    background-image: url('../../../assets/src/images/light.jpg');
    background-size: cover;
}

p {
  word-wrap: break-word;
}

.banner {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-image: url('../../../assets/src/images/lightBlue.jpg');
    background-size: cover;
  }

  .banner-description {
    text-align: center;
    max-width: 60%; 
    max-height: 100%;
  }
  
  .bannerImage {
    height: 60%;
  }

  .bannerImage > img {
    height: 100%;
    border-radius: 10%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }

  .banner-description {
    text-align: center;
  }

  h2, h3{
    font-weight: bold;
    color: $second-color;
  }

   h4 {
    font-style: italic;
    color: $second-color;
   }



  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .grid-layout {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-gap: 20px;
  }
  

  .card {
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }

   .imageCard {
    height: 100%;
    width: fit-content;
  }

  .imageCard > img {
    height: 100%;
  }

  .imageDesc {
    flex: 1;
    height: 100%;
    max-width: 60%;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

   //solo laptop
  @media (width>=992px)  { 
    .banner {
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:50px
      }

      .bannerImage {
        height: 100%;
      }

      .banner-description {
        max-width: none; 
      }

      .card {
        height: 30vh;
        width: 500px;
      }

      .grid-layout {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 20px;
      }

      .imageDesc {
        font-size: 16px;
      }
   }

   //solo tablet
   @media (576px<=width<=992px)  { 
    .grid-layout {
      grid-template-columns: repeat(2, 1fr);
    }

    .card {
      height: 50vh;
    }
   }