<app-header></app-header>

<section>
    <div class="banner">
        <div class="bannerImage">
            <img src="../../../assets/src/images/Baffelli.jpg">
        </div>
        <div class="banner-description">
            <h2>Giuseppe Del Gaudio</h2>
            <h4>Presidente</h4>
            <br>
            +39 3341294529
            <p>
                consulenzasport.cr@libero.it
            </p>
        </div>
    </div>

    <div class="center-container">
        <div class="grid-layout">
            <!-- Card 1 -->
            <div class="card">
                <div class="imageCard">
                    <img src="../../../assets/src/images/Barcella.png">
                </div>
                <div class="imageDesc">
                    <div class="descContainer">
                        <h2>Giacomo Barcella</h2>
                        <h4>Vicepresidente</h4>
                        <br>
                        +39 3401835944
                        <p>
                            g.barcella@outlook.it
                        </p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card">
                <div class="imageCard">
                    <img src="../../../assets/src/images/Leone.jpg">
                </div>
                <div class="imageDesc">
                    <div class="descContainer">
                    <h2>Luigi Leone</h2>
                    <h4>Consigliere</h4>
                    <br>
                    +39 3341235128
                    <p>
                        carla60@hotmail.it
                    </p>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="card">
            <div class="imageCard">
                <img src="../../../assets/src/images/Baffelli.jpg">
            </div>
            <div class="imageDesc">
                <div class="descContainer">
                <h2>Giulia Baffelli</h2>
                <h4>Consigliere</h4>
                <br>
                +39 3664935369
                <p>
                    giuliabaffelli98@gmail.com
                </p>
            </div>
        </div>
    </div>

    <!-- Card 4 -->
    <div class="card">
        <div class="imageCard">
            <img src="../../../assets/src/images/Gigi.png">
        </div>
        <div class="imageDesc">
            <div class="descContainer">
                <h2>Luigi Cortinovis</h2>
                <h4>Consigliere</h4>
                <br>
                +39 3388716795
                <p>
                    gigicortin@gmail.com
                </p>
            </div>

        </div>
    </div>
    </div>
    </div>
</section>

<app-footer></app-footer>