<nav class="navbar navbar-light bg-light navbar-expand-sm" [class.navbarScrolled]="scrolled">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
      <ul class="navbar-nav  center-navbar">
        <li class="nav-item">
          <a class="nav-link" href='#'>IL COMITATO</a>
        </li>
        <li class="nav-item d-none d-sm-inline">
          <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#'>SETTORI</a>
        </li>
        <li class="nav-item d-none d-sm-inline">
          <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#'>EVENTI</a>
        </li>
        <li class="nav-item d-none d-sm-inline">
          <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#'>FORMAZIONE</a>
        </li>
        <li class="nav-item d-none d-sm-inline">
          <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#'>AFFILIZAZIONE E TESSERAMENTO</a>
        </li>
        <li class="nav-item d-none d-sm-inline">
          <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#'>ATLETI RING</a>
        </li>
        <li class="nav-item d-none d-sm-inline">
          <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#'>TEAM LOMBARDIA</a>
        </li>
        <li class="nav-item d-none d-sm-inline">
          <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#'>PARTNER</a>
        </li>
        <li class="nav-item d-none d-sm-inline">
          <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#'>CONTATTI</a>
        </li>
    </ul>
   </div>
</nav>
