  .navbar {
    height: 80px;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    transition: background-color 0.3s ease-in-out;
  }

  .navbarScrolled {
    background: linear-gradient(to bottom, #2bbcee, white)!important; /* Change this to the desired background color */
  }

  .navbar-brand {
    height: 100%;
  }


  .socialContainer > a {
    padding: 10px;
  }

//solo smarphone
@media (max-width:570px)  { 
  .navbar {
    height: 50px;
  }
  .nav-item {
    background-color: black;
   }

   .nav-item > a {
    color: white
   }
 }

 //solo laptop
@media (min-width:570px)  { 
  .socialContainer {
    display: none;
  }
 }




