  @import '../../assets/scss/utils.scss';
  
  .navbar {
    height: 80px;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    transition: background-color 0.3s ease-in-out;
    z-index: 2;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-brand {
    height: 100%;
  }

  .hide-nav {
    max-height: 0;
  }

  .socialContainer > a {
    padding: 10px;
  }

  .nav-item > a:hover {
    color: $base-color
   }

//solo smarphone
@media (max-width:570px)  { 
  .navbar {
    height: 50px;
  }

   .nav-item > a {
    color: white
   }

   .burger-button{
    border:none;
    background-color: $light-bg-color;
  }

  .burger-button::before {
    content: "\2630";
    font-size: 1.6em;
    color: $base-color;
    padding-left: 20px;
  }

  .show > ul > li{
    background-color: $base-color;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .close-button {
    transform: scale(1.5);
    z-index: 3;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: white;
    color: $base-color;
  }
 }

 //solo laptop
@media (min-width:570px)  { 
  .socialContainer {
    display: none;
  }

  .navbarScrolled {
    background: linear-gradient(to bottom, $base-color, white)!important; /* Change this to the desired background color */
  }


  .burger-button {
    display: none;
  }
 }




