<nav class="navbar navbar-light bg-light navbar-expand-lg" [class.navbarScrolled]="scrolled"
  [class.hide-nav]="navbarOpen" appScrollListener (scrolled)="this.navScrolled($event)" appResizeListener [navbarOpen]="navbarOpen" (resized)="this.toggleNavbar();">
  <button *ngIf="!navbarOpen" class="burger-button" type="button" data-toggle="collapse" data-target="#navbarContent"
    aria-label="burger-menu" (click)="toggleNavbar() ">
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarContent" [ngClass]="{ 'show': navbarOpen }" appOverflowDetector>
    <ul class="navbar-nav  center-navbar">
      <li class="nav-item">
        <button *ngIf="navbarOpen" class="navbar-toggler close-button" type="button" data-toggle="collapse"
          data-target="#navbarContent" aria-label="toggle-menu" (click)="toggleNavbar()">
          <span aria-hidden="true">&times;</span>
        </button>
        <button routerLink="/" routerLinkActive="touchedLink" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="goToPage('/')">HOME</button>
      </li>
      <li class="nav-item d-none d-lg-inline">
        <span class="nav-link">|</span>
      </li>
      <li class="nav-item">
        <button class="nav-link" routerLink="/comitato" routerLinkActive="touchedLink" (click)="goToPage('comitato')">IL COMITATO</button>
      </li>
      <li class="nav-item d-none d-lg-inline">
        <span class="nav-link">|</span>
      </li>
      <li class="nav-item">
        <button class="nav-link" routerLink="/settori" routerLinkActive="touchedLink" (click)="goToPage('settori')">SETTORI</button>
      </li>
      <li class="nav-item d-none d-lg-inline">
        <span class="nav-link">|</span>
      </li>
      <li class="nav-item">
        <button class="nav-link" href='#'>EVENTI</button>
      </li>
      <li class="nav-item d-none d-lg-inline">
        <span class="nav-link">|</span>
      </li>
      <li class="nav-item">
        <button class="nav-link" href='#'>FORMAZIONE</button>
      </li>
      <li class="nav-item d-none d-lg-inline">
        <span class="nav-link">|</span>
      </li>
      <li class="nav-item">
        <button class="nav-link" href='#'>AFFILIZAZIONE E TESSERAMENTO</button>
      </li>
      <li class="nav-item d-none d-lg-inline">
        <span class="nav-link">|</span>
      </li>
      <li class="nav-item">
        <button class="nav-link" href='#'>ATLETI RING</button>
      </li>
      <li class="nav-item d-none d-lg-inline">
        <span class="nav-link">|</span>
      </li>
      <li class="nav-item">
        <button class="nav-link" href='#'>TEAM LOMBARDIA</button>
      </li>
      <li class="nav-item d-none d-lg-inline">
        <span class="nav-link">|</span>
      </li>
      <li class="nav-item">
        <button class="nav-link" href='#'>PARTNER</button>
      </li>
      <li class="nav-item d-none d-lg-inline">
        <span class="nav-link">|</span>
      </li>
      <li class="nav-item">
        <button class="nav-link" href='#'>CONTATTI</button>
      </li>
    </ul>
  </div>
  <div *ngIf="!navbarOpen" class="socialContainer">
    <a href="https://www.instagram.com/federkombat_lombardia/" target="_blank"><img
        src="../../assets/src/images/instagram_small.png" alt="Instagram"></a>
    <a href="https://www.facebook.com/people/FederKombat-Lombardia/100063499965759/" target="_blank"><img
        src="../../assets/src/images/fb_small.png" alt="Facebook"></a>
  </div>
</nav>