<app-navbar></app-navbar>

<div class="logo-container">
  <img src="../../assets/src/images/logo.jpg" alt="Logo" />
  <img
    class="d-none d-md-flex"
    src="../assets/src/images/banner.jpeg"
    alt="Logo federkombat"
  />
  <img src="../assets/src/images/logo_federazione_coni.svg" alt="Logo coni" />
</div>

<div class="image-container">
  <img src="../assets/src/images/slide1.jpeg" alt="Full-screen image" />
</div>

<div class="external-links-container">
  <div>
    <img src="../../assets/src/images/logo.jpg" alt="Logo 1" class="logo" />
    TESSERAMENTO ONLINE
  </div>
  <div>
    <img
      src="../../assets/src/images/logo.jpg"
      alt="Logo 1"
      class="logo"
    />PIATTAFORMA EVENTI
  </div>
  <div>
    <img
      src="../../assets/src/images/logo.jpg"
      alt="Logo 1"
      class="logo"
    />COMMISSIONE MEDICA
  </div>
  <div>
    <img src="../../assets/src/images/logo.jpg" alt="Logo 1" class="logo" />CTA
  </div>
  <div>
    <img
      src="../../assets/src/images/logo.jpg"
      alt="Logo 1"
      class="logo"
    />SCUOLA NAZIONALE FORMAZIONE
  </div>
  <div>
    <img src="../../assets/src/images/logo.jpg" alt="Logo 1" class="logo" />LEGA
    PRO
  </div>
</div>
