<app-navbar></app-navbar>

<div class="logo-container">
  <div>
    <img src="../../assets/src/images/logo.jpg" alt="Logo" />
    <img src="../assets/src/images/logo_federazione_coni.svg" alt="Logo coni" />
  </div>
  <img src="../assets/src/images/banner.jpeg" alt="Logo federkombat-lombardia" />
  <div>
    <a href="https://www.instagram.com/federkombat_lombardia/" target="_blank"><img src="../assets/src/images/instagram.png" alt="Instagram" /></a>
    <a href="https://www.facebook.com/people/FederKombat-Lombardia/100063499965759/" target="_blank"><img src="../assets/src/images/fb.png" alt="Facebook" /></a>
  </div>
</div>

<div class="image-container">
  <img src="../assets/src/images/copertina.png" alt="Full-screen image" />
</div>

<div class="external-links-container">
  <div class="external-link">
    TESSERAMENTO ONLINE
  </div>

  <div class="external-link">
    PIATTAFORMA EVENTI
  </div>

  <div class="external-link">
    LEGA PRO
  </div>
</div>

<div class="gallery-container">
  <div class="responsive">
    <div class="gallery">
        <img src="../assets/src/images/slide1.jpeg" alt="1" width="600" height="400">
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
        <img src="../assets/src/images/slide2.jpeg" alt="2" width="600" height="400">
    </div>
  </div>
  
  <div class="clearfix"></div>
</div>