@import '../assets/scss/utils.scss';

.image-container {
  overflow: hidden;
  width: 100%;
  height: 500px;
  background-color: $light-bg-color;
  position: relative;
}

.image-container::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/src/images/copertina.webp");
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out, top 1s ease-in-out; /* Adjusted transition duration */
}

.image-container.loaded::before {
  top: 0;
  opacity: 1;
}

.external-links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, $base-color, white);
}

.external-links-container> a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  background-color: $second-color;
}

div.gallery:hover {
  transform: scale(1.2);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}



.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.gallery-container {
  padding: 50px;
  background-color: $light-bg-color;
}


//solo smarphone
@media (max-width:570px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  .external-links-container {
    flex-direction: column;
  }

  .external-links-container > a {
    margin:10px
  }

  .image-container {
    height: 250px;
  }
}

// tablet 
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

}

//solo laptop
@media (min-width:570px) {}