.image-container {
  overflow: hidden;
  width: 100%;
  height: 500px;
  background-image: url("../assets/src/images/copertina.webp");
  background-size: cover;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.external-links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #2bbcee, white);
}

.external-links-container> a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: bold;
/*   background: linear-gradient(to top, #3a60aa, #7e99d1);
  color: white;
  border-radius: 5px; */
  cursor: pointer;
  padding: 10px;
}

.external-links-container>div:hover {
  background: #3a60aa;
}

/* .external-links-container > a {
  text-decoration: none;
  color: white;
} */

div.gallery:hover {
  transform: scale(1.2);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}



.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.gallery-container {
  padding: 50px;
  background-color: #F5F5F5;
}


//solo smarphone
@media (max-width:570px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  .external-links-container {
    flex-direction: column;
  }

  .external-links-container > a {
    margin:10px
  }

  .image-container {
    height: 250px;
  }
}

// tablet 
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

}

//solo laptop
@media (min-width:570px) {}