<app-header></app-header>

<div class="image-container">
  <img src="../assets/src/images/copertina.png" alt="Full-screen image" />
</div>

<div class="external-links-container">
  <div class="external-link">
    TESSERAMENTO ONLINE
  </div>

  <div class="external-link">
    PIATTAFORMA EVENTI
  </div>

  <div class="external-link">
    LEGA PRO
  </div>
</div>

<div class="gallery-container">
  <div class="responsive">
    <div class="gallery">
        <img src="../assets/src/images/slide1.jpeg" alt="1" width="600" height="400">
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
        <img src="../assets/src/images/slide2.jpeg" alt="2" width="600" height="400">
    </div>
  </div>
  
  <div class="clearfix"></div>
</div>